attrs==21.2.0
glob2==0.7
iniconfig==1.1.1
Mako==1.1.4
MarkupSafe==2.0.1
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-bdd==4.0.2
six==1.16.0
toml==0.10.2
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
glob2==0.7
greenlet==1.1.0
idna==2.10
iniconfig==1.1.1
Mako==1.1.4
MarkupSafe==2.0.1
packaging==20.9
parse==1.19.0
parse-type==0.5.2
playwright==1.11.2
pluggy==0.13.1
py==1.10.0
pyee==8.1.0
pyparsing==2.4.7
pytest==6.2.4
pytest-base-url==1.4.2
pytest-bdd==4.0.2
pytest-playwright==0.1.1
requests==2.25.1
six==1.16.0
toml==0.10.2
urllib3==1.26.5
websockets==9.1
